*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: #4049aa;
    height: 100vh;

  
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 450px;
    padding: 20px;
    width: 320px;
    margin-top: 30px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .placeholder {
    color: #f1f1f7;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  .submit:hover{
    background-color: rgb(67, 163, 223);
  }
  
  .submit:active {
    background-color: #06b;
  }
 
  .list{
      list-style: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      border-radius: 12px;
      padding: 30px;
      margin-top: 20px;
      color: rgb(158, 157, 157);
      background-color: #15172b;
    }
    .list h2{
        margin-bottom: 0;
        color: #eee;
  }
  .edit-btn{
      margin: 10px;
      padding: 10px;
      border-radius: 12px;
      border: none;
      font-size: 15px;
      background-color: #08d;
      box-sizing: border-box;
      color: #eee;
      cursor: pointer;
      font-size: 18px;
  }
  .edit-btn:hover{
    background-color: rgb(67, 163, 223);
  }
  .delete-btn{
  
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    background-color: rgb(148, 28, 28);
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
  }
  .delete-btn:hover{
    background-color: rgb(206, 74, 74);
  }